extends sidebar.pug
block contents
    .container-fluid
        .row.bg-title
            .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Tác vụ
        .row
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Trả phòng
                    a(href="/control/checkout").btn.btn-success Thực hiện
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Đặt phòng
                    a(href="/control/checkin").btn.btn-success Thực hiện
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Thêm phòng
                    a(href="/control/room").btn.btn-success Thực hiện
        .row
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Xem lịch sử phòng được đặt
                    button.btn.btn-success Thực hiện
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Xem lịch sử khách đã đặt
                    button.btn.btn-success Thực hiện
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Truy vấn doanh thu
                    button.btn.btn-success Thực hiện