extends sidebar.pug
block contents
    .container-fluid
        .row.bg-title
            .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Quản lí khách hàng
        .row
            .col-md-12.col-lg-12.col-sm-12
                .white-box
                    .col-md-3.col-sm-4.col-xs-6.pull-right
                    h3.box-title Danh sách khách thuê
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th.text-center #
                                    th.text-center Họ và tên
                                    th.text-center Phòng
                                    th.text-center Số người
                                    th.text-center Giờ vào
                                    th.text-center Tác vụ
                            tbody
                                tr.text-center
                                    td 1
                                    td.txt-oflo Nguyễn Văn Bê
                                    td 1001
                                    td
                                        span.text-info 3
                                    td.txt-oflo 4/01/2020, 7:36:49 PM
                                    td
                                        a(href="")
                                            div
                                                i.fa.fa-edit &nbsp;&nbsp;
                                                span.text-danger Edit
                                tr.text-center
                                    td 2
                                    td.txt-oflo Trần Văn Kiên
                                    td 1002
                                    td
                                        span.text-info 3
                                    td.txt-oflo 4/01/2020, 7:36:49 PM
                                    td
                                        a(href="")
                                            div
                                                i.fa.fa-edit &nbsp;&nbsp;
                                                span.text-danger Edit
                                tr.text-center
                                    td 3
                                    td.txt-oflo Đào Thế Việt
                                    td 2001
                                    td
                                        span.text-info 3
                                    td.txt-oflo 4/01/2020, 7:36:49 PM
                                    td
                                        a(href="")
                                            div
                                                i.fa.fa-edit &nbsp;&nbsp;
                                                span.text-danger Edit
                                tr.text-center
                                    td 4
                                    td.txt-oflo Đinh Tiên Hoàng
                                    td 2011
                                    td
                                        span.text-info 3
                                    td.txt-oflo 4/01/2020, 7:36:49 PM
                                    td
                                        a(href="")
                                            div
                                                i.fa.fa-edit &nbsp;&nbsp;
                                                span.text-danger Edit
                                tr.text-center
                                    td 5
                                    td.txt-oflo Đỗ Ngọc Thức
                                    td 4001
                                    td
                                        span.text-info 3
                                    td.txt-oflo 4/01/2020, 7:36:49 PM
                                    td
                                        a(href="")
                                            div
                                                i.fa.fa-edit &nbsp;&nbsp;
                                                span.text-danger Edit
                                tr.text-center
                                    td 6
                                    td.txt-oflo Phạm Hoàng Giang
                                    td 4003
                                    td
                                        span.text-info 3
                                    td.txt-oflo 4/01/2020, 7:36:49 PM
                                    td
                                        a(href="")
                                            div
                                                i.fa.fa-edit &nbsp;&nbsp;
                                                span.text-danger Edit
                                tr.text-center
                                    td 7
                                    td.txt-oflo Đỗ Văn thức
                                    td 1006
                                    td
                                        span.text-info 3
                                    td.txt-oflo 4/01/2020, 7:36:49 PM
                                    td
                                        a(href="")
                                            div
                                                i.fa.fa-edit &nbsp;&nbsp;
                                                span.text-danger Edit