extends sidebar.pug
block contents
    .container-fluid
        .row.bg-title
            .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Dashboard
        .row
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Số khách đang thuê
                    ul.list-inline.two-part
                        li
                            #sparklinedash
                        li.text-right
                            i.ti-arrow-up.text-success
                            span.counter.text-success 85
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Số phòng đã thuê
                    ul.list-inline.two-part
                        li
                            #sparklinedash2
                        li.text-right
                            i.ti-arrow-up.text-purple
                            span.counter.text-purple 30
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Số phòng trống
                    ul.list-inline.two-part
                        li
                            #sparklinedash3
                        li.text-right
                            i.ti-arrow-up.text-info
                            span.counter.text-info 15
        .row
            .col-md-12.col-lg-12.col-sm-12
                .white-box
                    .col-md-3.col-sm-4.col-xs-6.pull-right
                    h3.box-title Danh sách khách vừa thuê
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th #
                                    th Họ và tên
                                    th Phòng
                                    th Số người
                                    th Giờ vào
                            tbody
                                tr
                                    td 1
                                    td.txt-oflo Elite admin
                                    td 1001
                                    td
                                        span.text-info 3
                                    td.txt-oflo April 18, 2017
                                tr
                                    td 2
                                    td.txt-oflo Elite admin
                                    td 1001
                                    td
                                        span.text-info 3
                                    td.txt-oflo April 18, 2017
                                tr
                                    td 3
                                    td.txt-oflo Elite admin
                                    td 1001
                                    td
                                        span.text-info 3
                                    td.txt-oflo April 18, 2017
                                tr
                                    td 4
                                    td.txt-oflo Elite admin
                                    td 1001
                                    td
                                        span.text-info 3
                                    td.txt-oflo April 18, 2017
                                tr
                                    td 5
                                    td.txt-oflo Elite admin
                                    td 1001
                                    td
                                        span.text-info 3
                                    td.txt-oflo April 18, 2017
                                tr
                                    td 6
                                    td.txt-oflo Elite admin
                                    td 1001
                                    td
                                        span.text-info 3
                                    td.txt-oflo April 18, 2017
                                tr
                                    td 7
                                    td.txt-oflo Elite admin
                                    td 1001
                                    td
                                        span.text-info 3
                                    td.txt-oflo April 18, 2017

block scripts
    script(src='js/waypoints/lib/jquery.waypoints.js')
    script(src='js/counterup/jquery.counterup.min.js')
    script(src='js/toast-master/js/jquery.toast.js')
    script(src='js/jquery-sparkline/jquery.sparkline.min.js')
    script(src='js/dashboard.js')     